body {
    font-family: sans-serif;
}

*:focus {
    outline: none;
    background: #c6dff3;
}

.tree-item-title {
    padding: 5px; 
}
.tree-item-debriefs {
    padding: 0 0 5px 5px;
}

.matter-textfield-standard {
    line-height: 1.2;
    border-top-width: 20px;
}