body {
    font-family: sans-serif;
}
a, .link {
    cursor: pointer; 
}

*:focus, .virtual-focus {
    outline: none;
    background: #c6dff3;
}
.focus-only {
    visibility: hidden;
}
*:focus .focus-only, .focus-only:focus {
    visibility: visible;
}
.little-symbol {
    font-size: 70%;
}

.tree-item-title {
    padding: 5px; 
}
.tree-item-debriefs {
    padding: 0 0 5px 25px;
}
.tree-item-debriefs > div {
    font-style: italic;
    font-size: small;
}

.search-box-list, .ctx-menu {
    background: white; 
    z-index: 100;
    font-size: small; 
    border: 1px solid lightgrey; 
}
.search-box-list > div, .ctx-menu > div {
    padding: 8px; 
    border-bottom: 1px solid lightgrey; 
}

.search-box-list > div:hover, .ctx-menu > div:hover, .tree-item-title:hover {
    background: #dce9f3;
}

.matter-textfield-standard {
    line-height: 1.2;
    border-top-width: 20px;
}
.matter-button-contained.round {
    min-height: 40px;
    min-width: 40px;
    border-radius: 20px;
}
